.container {
  display: flex;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
}

.image-container {
  position: relative;
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo-text {
  display: flex;
}

.logo-text img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.logo-text h1 {
  font-size: 46px;
  font-weight: bold;
  color: white !important;
  margin: 25px;
}

.nelly {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-container{
  /* background-color: red; */
  width: 60%;
  margin: 0 auto;
  margin-top: -20%;
}

.login-container img {
  height: 93px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.login-container p {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.login-container label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #555;
  outline: none;
  font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.login-container .logins {
  background-color: rgba(0, 15, 159, 1);
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
  color: white;
}

.login-container input[type="submit"]:hover {
  background-color: blue;
}

.login-container input[type="email"]::placeholder,
.login-container input[type="password"]::placeholder,
.login-container input[type="text"]::placeholder {
  color: #999;
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-container input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.otp-container input:focus {
  border-color: rgba(0, 15, 159, 1);
  outline: none;
}

.forgot-password-container {
  margin-top: 20px;
}

.forgot-password-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.forgot-password-container p {
  margin-bottom: 20px;
  color: #777;
  text-align: center;
}

.forgot-question {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  color: rgba(0, 15, 159, 1);
  float: right;
}

@media screen and (max-width: 767px) {
  .image-container {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }

  .login-container {
    width: 100%;
    padding: 30px;
  }
}
