.black {
  color: white;
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}

.black span{
  font-size: 20px;
}

.sidebar {
  width: 20%;
  top: 0;
  bottom: 0;
  background-color: #775dd2;
  color: white;
  height: 100vh;
  transition: all 0.5s linear;
  padding: 5px;
  position: relative;
}

.sidebar-item,
.sidebar-sub-item {
  text-decoration: none;
  /* margin-bottom: 70px; */
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  padding-inline: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}


.menu li:hover,
.active {
  background: #8c79ce;
  cursor: pointer;
}

.icons {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.dropdown-toggle {
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.dropdown-toggle.open {
  transform: rotate(180deg);
}

.sub-menu {
  display: none;
  list-style-type: none;
  /* padding-left: 20px; */
  background-color: #6c5bb3;
  margin: 0;
}

.sub-menu li {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  font-size: 18px;
  border-radius: 5px;
}

.sub-menu li:hover {
  background-color: #8c79ce;
}

.menu-item.open .sub-menu {
  display: block;
}
