.whatsapp-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #e5ddd5;
  font-family: Arial, sans-serif;
}

.info {
  width: 100%;
}

.chat-list {
  width: 40%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: scroll;
  /* margin-top: -40px; */
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-item.active {
  background-color: paleturquoise;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-details {
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
  color: black;
}

.last-message {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/* Message area section */
.message-area {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ece5dd;
  padding: 10px;
  height: 100vh;
  /* margin-top: -20px; */
}

.messages {
  /* flex-grow: 1; */
  /* overflow-y: scroll; */
  padding-right: 10px;
}

.message {
  max-width: 60%;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 0 5px;
  font-size: 15px;
  line-height: 1.5;
}

.sent {
  background-color: paleturquoise;
  align-self: flex-end;
}

.received {
  background-color: #fff;
  align-self: flex-start;
}

/* Input area */
.message-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  /* padding: 5px; */
  border-top: 1px solid #ddd;
  /* margin-top: -100px; */
}

.message-input input {
  /* flex-grow: 1; */
  padding: 10px;
  font-size: 14px;
  border: none;
  /* border-radius: 20px; */
  background-color: #f0f0f0;
  /* margin-right: 10px; */
  /* margin-top: -70px; */
}

.message-input button {
  padding: 10px;
  background-color: #775dd2;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  width: 10em;
}

.message-input button:hover {
  background-color: #775de2;
}
