.sector {
  display: flex;
  gap: 10px;
  /* padding: 20px; */
}

.projects-page {
  /* padding: 20px; */
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;

}

h1 {
  font-size: 32px;
  font-weight: bold;
  /* text-align: left; */
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-and-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
}

.search {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.sort-btn {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

/* .sort-btn:hover {
  background-color: #e0e0e0;
} */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 31.5%;
  position: relative;
}

.project-card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.project-date {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}

.project-date i {
  margin-right: 8px;
}

.status {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.in-progress {
  background-color: #00c8e8;
}

.new {
  background-color: #ff4d4d;
}

.pending {
  background-color: #ff9900;
}

.completed {
  background-color: #800080;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
}

.progress {
  height: 8px;
  border-radius: 10px;
}

.progress-percentage {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}

.view-link {
  color: blue;
  font-size: 14px;
  text-decoration: underline;
}
