  .container {
    display: flex;
    background-color: white;
    width: 100%;
    height: 98vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .image-container {
    position: relative;
    flex: 1;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  .logo-text {
    display: flex;
    color: white;
  }
  
  .logo-text img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }
  
  .logo-text h1 {
    font-size: 46px;
    font-weight: bold;
    /* margin-top: 35px; */
    margin: 25px;
  }
  
  .login-container {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .login-container img {
    height: 93px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .login-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
  
  .login-container p {
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  
  .login-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    color: #555;
    outline: none;
    font-weight: bold;
  }
  
  .login-container input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-container input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
    

  }
  
  .login {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #775dd2;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-question{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #775dd2;
    float: right;
}
  