.primary-button {
  background-color: rgba(0, 15, 159, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 10px;
  min-width: 120px;
  float: right;
  font-weight: bolder;
}

.primary-button:hover{
    background-color: rgba(0, 15, 159, 1);
    animation: 0.3s ease-out infinite;
}

.secondary-button{
    background-color: #d4cbcb;
    color: rgba(0, 15, 159, 1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.danger-button{
    background-color: #ccc;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 90%;
    margin-left: 20px;
}

.default-button{
    background-color: white;
    color: rgba(0, 15, 159, 1);
    border: 0.5px solid rgba(0, 15, 159, 1);
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 30px;
    border-radius: 10px;
    min-width: 120px;
    float: right;
    margin-right: 10px;
}


